{% extends "layout.html" %}

{% block title %}
Estás en {{canal}}
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Canal: {{canal}}</h1>
    <h3 class="ml-3">{{session['username']}}</h3>
    <p>En linea</p>
            <div class="client">
                <img class="imgif" src="https://img.icons8.com/pastel-glyph/64/000000/chat.gif"/>
            </div>
            <div class="chats">
                {%- if  mensajes -%}
                {%- for mensaje in mensajes -%}
                {%- if mensaje[0] != session['username']-%}
                <li class="client-chat"><b>{{ mensaje[0] }}:</b> {{ mensaje[1] }} {{'\n'}} --- {{ mensaje[2]}}</li>
                {%- else -%}
                <li class="my-chat"><b>{{ mensaje[0] }}:</b> {{ mensaje[1] }} {{'\n'}} --- {{ mensaje[2]}}</li>
                {%- endif -%}
                {%- endfor -%}
                {{ '-- msj anteriores --' }}{{- '\n' -}}
                {%- endif -%}
                <ul id="tasks">
                </ul>
            </div>
</div>
{% endblock %}