{% extends "layout.html" %}

{% block title %}
Crea o unete a un canal
{% endblock %}

{% block content %}
    <div class="text-center">

        <h1>Bienvenido a Flack {{session['username']}}!</h1>

     <p class="mb-5">Selecciona un canal existente en la barra de navegación o crea un nuevo canal</p>

    <form action="/create" method="post" id="new-channel">
        <div class="form form-group">
            <input type="text" class="form-control" name="channel" id="channel" autofocus>
        </div>
        <button class="btn btn-primary" id="submitchannel" type="submit">Create</button>
    </form>
  

{% endblock %}